<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ConsultorioMedicoPU" transaction-type="RESOURCE_LOCAL">
    <non-jta-data-source>java:app/meuBD</non-jta-data-source>
    <class>consultorio.entidades.Cliente</class>
    <class>consultorio.entidades.Consulta</class>
    <class>consultorio.entidades.Endereco</class>
    <class>consultorio.entidades.Medico</class>
    <class>consultorio.entidades.Telefone</class>
    <class>consultorio.entidades.Usuario</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
